* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header nav{
	background-color: #0B6BE5;
	text-align: center;
}

header nav a{
	display:inline-block;
	color: #fff;
	padding: 1rem;
	text-decoration: none;
}

header nav a:hover{
	background-color: #fff;
	color:#0B6BE5;
}

.banner-image{
	width:100%;
}

.add-form, .vehicle-form{
	display:none;
}

.display-form{
	display:block;
}

.change-section{
	background-color:#fff;
	border-color:#0B6BE5;
	color:#0B6BE5;
}

.section-heading{
	background-color:#0B6BE5;
	padding:1rem;
	color:#fff;
	font-weight:bold;
	border: 1px solid #fff;
	border-radius:10px;
	cursor: pointer;
}
